.about-sub-title {
  margin: 15px 0 40px;
}
.about-text-area {
  padding: 20px 10px;
  line-height: 1.4;
  .survice {
    font-size: 10px;
  }
  p {
    margin: 10px 0;
  }
}

.about-how-to-play {
  p {
    padding: 20px 30px;
  }
  .four-actions {
    position: relative;
    margin-top: 30px;
    padding: 20px 0;
    .action-detail {
      margin: 10px 0;
      .action-title {
        width: 92%;
        margin: 0 4%;
        background: #00253c;
        img {
          width: 100%;
        }
      }
      table {
        width: 90%;
        margin: 0 5%;
        tr {
          td:first-child {
            width: 30%;
            img {
              width: 100%;
            }
          }
          td:nth-child(2) {
            color: #fff;
            padding: 5px;
            background: #333;
            opacity: 0.8;
          }
        }
      }
    }
  }
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
}