@import "setting";

body {
  margin: 0;
  font-size: 14px;
  font-family: Arial;
  min-height: 100%;
  width:100%;
  overflow-x: hidden;
  line-height: 1.4em;
}
li {
  list-style: none;
}

h2,h3,h4,h5,h6 {
    margin-bottom: 10px;
    text-align: center;
}

img {
  vertical-align: bottom;
}

.clear-both {
  clear: both;
}

.font-bold {
  font-weight: bold;
}
#main {
  z-index: 1;
  position: relative;
  padding-top: $header_height;
  width: 100%;
  max-width: $content_width;
  margin:0 auto;
  overflow: scroll;
}
.slidemenu {
  top: 0;
  left: 0;
  width: 240px;
  position: fixed;
  visibility: hidden;
  background: #000;
  z-index: -1;
}
.slidemenu .slidemenu-header {
  color: #fff;
  position: relative;
  li {
    font-size: 20px;
  }
}
.slidemenu .slidemenu-body {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slidemenu .slidemenu-content {
  position: relative;
  width:80%;
  margin: 20px 10%;
  border: solid #fff 3px;
  @include border-radius(8px);
  li {
    width: 90%;
    margin: 10px 5%;
    padding: 5px 0;
    border-bottom:solid 3px #fff;
  }
}

#header{
  position:fixed;
  background:#000033;
  top: 0;
  width: 100%;
  height: $header_height;
  z-index: 10;
  overflow: none;
  .header-logo {
    width: 100%;
    max-width: $content_width;
    margin: 0 auto;
    img {
      width: 70%;
      height: $header_height - 24px;
      margin: 12px 15%;
    }
  }
}

.header-button {
  width: 36px;
  height: 36px;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-image: url('../images/menu_button_back.png');
  background-position: center;
}

.title-image {
  width: 40%;
  margin: 10px 30% 20px;
  img {
    width: 100%;
  }
}

.bottom-menu {
  margin: 0 0 15px;
  li {
    width: 50%;
    float: left;
    img {
      width: 50%;
      margin: 0 25%;
    }
  }
}

.seg-bar {
  width: 100%;
  margin-bottom: 30px;
  img {
    width: 100%;
  }
}
