@import "setting";

body {
  margin: 0;
  font-size: 14px;
  font-family: Arial;
  min-height: 100%;
  width:100%;
  overflow-x: hidden;
}

.clear-both {
  clear: both;
}
#main {
  z-index: 1;
}
.slidemenu {
  top: 0;
  left: 0;
  width: 240px;
  position: fixed;
  visibility: hidden;
  z-index: -1;
}
.slidemenu .slidemenu-header {
  position: relative;
}
.slidemenu .slidemenu-body {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slidemenu .slidemenu-content {
  position: relative;
}

#header{
  position:fixed;
  background:#000033;
  top: 0;
  width: 100%;
  height: $header_height;
  max-width: $content_width;
  z-index: 10;
  overflow: none;
}

.button {
  width: 49px;
  height: 49px;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

#contents{
  position: relative;
  padding-top: $header_height;
  width: 100%;
  max-width: $content_width;
  margin:20px 20px;
  overflow: scroll;
}