.about-sub-title {
  font-size: 24px; }

.about-text-area {
  padding: 20px 30px;
  font-size: 18px; }
  .about-text-area .survice {
    margin-left: 40px;
    font-size: 18px;
    line-height: 1.4; }

.about-how-to-play h2 {
  font-size: 24px; }
.about-how-to-play p {
  font-size: 20px;
  padding: 20px 30px; }
.about-how-to-play .four-actions .action-detail table {
  width: 90%;
  margin: 0 5%; }
  .about-how-to-play .four-actions .action-detail table tr td:first-child {
    width: 30%; }
    .about-how-to-play .four-actions .action-detail table tr td:first-child img {
      width: 100%; }
  .about-how-to-play .four-actions .action-detail table tr td:nth-child(2) {
    font-size: 22px; }
