@import "../setting";
.top-image {
  .top-title-area {
    position: absolute;
    top: 20px;
    .top-sub-title {
      margin: 40px 0;
    }
  }
  img {
    margin-top: -70px;
  }
}
.top-black-area {
  padding: 20px 0;
  background: #000;
  .menu-box {
    width:60%;
    margin: 20px 20%;
    border: solid #fff 3px;
    @include border-radius(8px);
    .menu-block {
      margin: 20px 0;
      .top-menu {
        width: 60%;
        margin: 3px 20%;
        padding: 5px;
        border-bottom: solid 2px #fff;
        img {
          width: 100%;
        }
      }
      .menu-block-first {
        border-bottom: solid 3px #fff;
      }
    }
  }
}