/* clearfix */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

body {
  margin: 0;
  font-size: 14px;
  font-family: Arial;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  line-height: 1.4em; }

li {
  list-style: none; }

h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  text-align: center; }

img {
  vertical-align: bottom; }

.clear-both {
  clear: both; }

.font-bold {
  font-weight: bold; }

#main {
  z-index: 1;
  position: relative;
  padding-top: 37px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  overflow: scroll; }

.slidemenu {
  top: 0;
  left: 0;
  width: 240px;
  position: fixed;
  visibility: hidden;
  background: #000;
  z-index: -1; }

.slidemenu .slidemenu-header {
  color: #fff;
  position: relative; }
  .slidemenu .slidemenu-header li {
    font-size: 20px; }

.slidemenu .slidemenu-body {
  height: 100%;
  overflow: hidden;
  position: relative; }

.slidemenu .slidemenu-content {
  position: relative; }
  .slidemenu .slidemenu-content li {
    margin: 20px 0; }

#header {
  position: fixed;
  background: #000033;
  top: 0;
  width: 100%;
  height: 37px;
  z-index: 10;
  overflow: none; }
  #header .header-logo {
    width: 100%;
    max-width: 720px;
    margin: 0 auto; }
    #header .header-logo img {
      width: 70%;
      height: 13px;
      margin: 12px 15%; }

.header-button {
  width: 36px;
  height: 36px;
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-image: url("../images/menu_button_back.png");
  background-position: center; }
