.news-post {
  width: 70%;
  margin: 20px 15%; }

.news-post-list {
  width: 70%;
  margin: 0 15%; }
  .news-post-list td:first-child {
    width: 30%;
    height: 30%; }
    .news-post-list td:first-child img {
      width: 100%;
      height: 100%; }
  .news-post-list td:nth-child(2) {
    padding: 5px; }

.post-navigation {
  width: 300px;
  margin: 0 auto 20px; }
  .post-navigation .prev, .post-navigation .next {
    width: 50%;
    margin-bottom: 30px; }
