.story-block {
  position: relative;
  padding: 20px 0 20px;
  z-index: 0; }
  .story-block p {
    padding: 0 5%; }
  .story-block .story-contents {
    position: relative;
    z-index: 5; }
    .story-block .story-contents .story-title {
      width: 60%;
      margin: 0 20% 20px; }
      .story-block .story-contents .story-title img {
        width: 100%; }
    .story-block .story-contents .main-sub-title {
      margin-bottom: 50px; }
    .story-block .story-contents .story-title-image {
      width: 56%;
      margin: 80px 15% 30px;
      padding: 0 7% 30px; }
      .story-block .story-contents .story-title-image img {
        width: 100%; }
    .story-block .story-contents .lead-sentence {
      margin-bottom: 70px; }
    .story-block .story-contents .story-one-title {
      border-bottom: solid 1px #000; }
    .story-block .story-contents .story-two-title {
      border-bottom: solid 1px #fff; }
  .story-block .story-back-image {
    position: absolute;
    bottom: 0;
    z-index: 1; }
    .story-block .story-back-image img {
      width: 100%; }
  .story-block .main-bottom-button li {
    width: 50%;
    float: left; }
  .story-block .story-bottom-area {
    position: absolute;
    width: 100%;
    bottom: 25px;
    z-index: 2; }

.story-main {
  background: #80adda; }
  .story-main .main-contents {
    font-size: 10px;
    text-align: center;
    padding-bottom: 260px; }
    .story-main .main-contents p {
      margin: 10px 0; }

#story-one {
  background: #9abadd;
  color: #074265; }
  #story-one .story-contents {
    padding-bottom: 300px; }

#story-two {
  background: #000; }
  #story-two .story-contents {
    padding-bottom: 300px; }

.sub-contents {
  padding: 20px 0 0; }
  .sub-contents h3 {
    margin-top: 50px; }

.story-link-area {
  margin: 20px 0; }
  .story-link-area ul li {
    width: 30%;
    float: left;
    margin: 0 10%;
    padding: 5px 0;
    background: #000;
    -moz-border-radius: 8px;
    border-radius: 8px; }
    .story-link-area ul li img {
      width: 90%;
      margin: 0 5%;
      vertical-align: top; }

.story-detail-block {
  width: 94%;
  margin: 30px 3%; }
  .story-detail-block tr {
    width: 100%; }
    .story-detail-block tr td {
      vertical-align: middle;
      font-size: 13px;
      line-height: 1.4em;
      padding: 0 10px; }
    .story-detail-block tr td:first-child {
      width: 40%; }
      .story-detail-block tr td:first-child img {
        width: 100%; }
